
.cabeçalho{
    background-color: rgb(255, 160, 255);
     border: 10px;
     border-color: blueviolet;
     border-style: dashed;
     margin: 10px;
     color: rgb(0, 0, 0);
     font-weight: 300;
}

.principal{
    background-color: rgb(255, 209, 209);
    border: 10px;
    border-color: aliceblue;
    border-style: double;
    margin: 30px;
    color: cornflowerblue;
}
.lista-links{
    font-size: 30px;
    color: aquamarine;

}
.lista-links:hover{
    font-size: 40px;
    color: cadetblue;
}
