#imagem-borboletas{
    width: 10px;
    border: solid 1px black;
}

.principal{
 background-color: rgba(0, 0, 0, 0);
 color:rgb(0, 0, 0)
}

.rodape{
    background-color: black;
    color: rgba(255, 255, 255, 0);
    text-align: center;
}