#imagem-borboletas{
    width: 10px;
    border: solid 1px rgb(0, 0, 0)58, 12, 12);
}

.principal{
 background-color: rgba(0, 0, 0, 0);
 color:rgb(0, 0, 0)
}

.rodape{
    background-color: black;
    color: aliceblue;
    text-align: center;
}